/* CSS Reset */
/*Allows to easily manipulate the sizes and positioning of elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Google Font*/
body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    margin-top: 25px;
}

.card {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1rem;
    padding-block: 1rem;
    font-weight: normal
}
.card h3 {
    margin-bottom: 1rem;
    font-size: 25px;
    font-weight: normal;
}
#pre-footer {
    background-color: #00356B;
    border: 1px solid black;
    margin-top: 60px;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
}    
#pre-footer div {
  display: inline-block;
  margin: 0 100px;
  text-align: left;
  color: white;

}
#pre-footer h3 {
  display: block;
  margin-left: -70px;
  margin-bottom: 5px;
  font-weight: normal;
}

#pre-footer p {
  display: block;
  margin-left: -70px;
  line-height: 2.0;
  font-size: 14px;
}
#pre-footer div:nth-of-type(3) {
  margin-top: 50px;
}
#pre-footer div:nth-of-type(4) {
  margin-top: 20px;
}
footer span {
    padding-right: 20px;
    color: #646464;
}
footer {
  margin-top: 10px;
  margin-bottom: 10px; 
  margin-left: 15px;
}



